<html>
<body>

{{#name}}
<h1>Hello, {{.}}!</h1>
{{/name}}

<p>
    <a href="/">Back Home</a>
</p>

<h2>Please select a customer ...</h2>

<ul>
    {{#customerList}}
    {{#.}}
    <li>
        <a href="/accountList?customerEmailAddress={{emailAddress}}&bankID={{bank.bankID}}">{{firstName}} {{lastName}}</a>
    </li>
    {{/.}}
    {{/customerList}}
</ul>


{{^name}}
<h2>Enter your login information below please!</h2>
<form action="/login" method="post">
    <input type="text" placeholder="Enter your name" name="userName"/>
    <button type="submit">Login</button>
</form>
{{/name}}
</body>
</html>
