<html>
<body>

{{#name}}
<h1>Hello, {{.}}!</h1>
{{/name}}

<p>
    <a href="/">Back Home</a>
</p>

<h2>Please select a customer ...</h2>

<ul>
    {{#customerList}}
    {{#.}}
    <li>
        <a href="/accountList?customerEmailAddress={{emailAddress}}&bankID={{bank.bankID}}">{{firstName}} {{lastName}}</a>
    </li>
    {{/.}}
    {{/customerList}}
</ul>

<form action="/create-customer" method="post">
    <input type="text" name="bankID" value="{{bank.bankID}}" readonly/>
    <input type="text" placeholder="Enter Customer First Name" name="firstName"/>
    <input type="text" placeholder="Enter Customer Last Name" name="lastName"/>
    <input type="text" name="emailAddress" placeholder="Enter Customer Email Address"/>

    <button type="submit">Create Customer</button>
</form>


{{^name}}
<h2>Enter your login information below please!</h2>
<form action="/login" method="post">
    <input type="text" placeholder="Enter your name" name="userName"/>
    <button type="submit">Login</button>
</form>
{{/name}}
</body>
</html>
